:root {
  --app-accent-color: #e31c4d;
  --plyr-color-main: var(--app-accent-color);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.layout{
  padding: 0 !important;
  max-width: 100% !important;
}

.main{
  min-height: 100vh;
}

@media (max-width: 900px){

  .multi-slider .swiper-button-prev, .multi-slider .swiper-button-next {
    top: 98px !important;
  }

  .multi-slider .swiper-button-prev:after, .multi-slider .swiper-button-next:after {
    font-size: 26px;
  }
}

.multi-slider .swiper-button-prev, .multi-slider .swiper-button-next {
  color: var(--app-accent-color) !important;
  background-color: #333;
  border-radius: 6px;
  top: 120px;
  padding: 6px 8px;
  width: auto;
  height: auto;
}

